:root {
font-size:32px;	
}
body,html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

#perspective-container {
	display: flex;
	flex-direction: column;
	padding-top: 5rem;
	height: 100vh;
  align-items: center;
  /*background: white;*/
}
.perspective {
  height: fit-content;
  width: fit-content;
  display: block;
}

/****** grid */

.row{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.row >div {
	margin-left: 1rem;
	margin-right: 1rem;
}
.col{
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
}
@media screen and (min-width: 992px) {
	.row{
		display: flex;
		flex-direction: row;
	}
}

/******* Text */
.title , .title .line, .title a {
	display: block;
	font-weight: 300;
	font-size:1.9rem;
	line-height: 3rem;
	border: none;
	background-image:   linear-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px),
 						linear-gradient(90deg, rgba(255, 255, 255, 0.2) 1px, transparent 1px),
  						linear-gradient(rgba(255, 255, 255, 0.2) 0.5px, transparent 0.5px),
   						linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0.5px, rgba(0, 0, 0, 0.0) 0.5px);
	background-size: 23px 23px, 100px 50px, 50px 50px, 50px 50px;
	background-position: -15px -15px, -15px -5px, -5px -5px, -5px -5px;
}

@media screen and (min-width: 992px) {
	.title , .title .line, .title a {
		font-size:3rem;
		line-height: 3rem;
	}

}
.title:hover > .glitch > .line {
	animation: none;
}


/*********** Navigation */

.glitch {

  --var-fill : rgba(255,255,255,.25);
background-color: rgba(229,229,247,0);
background-image:  repeating-linear-gradient(45deg, var(--var-fill) 25%, transparent 25%, transparent 75%, var(--var-fill) 75%, var(--var-fill)), repeating-linear-gradient(45deg, var(--var-fill)25%, transparent 25%, transparent 75%, var(--var-fill) 75%, var(--var-fill));
background-position: 0 0, 5px 5px;
background-size: 5px 5px;
}
.card a, .navlink{
		animation:  .5s ease 0s 1 fff;
}
@keyframes fff {
	0%{
		opacity: 0;
		transform:perspective(1000px) translateZ(-10000px) ;
	}
	100%{
		opacity: 1;
		transform: perspective(1000px) translateZ(0px) ;
	}
}
	.card ,
	a.perspective {

		/*transform: perspective(278px) rotateX(14.0861deg) rotateY(20.6495deg);*/
	}
.card .media{
	display: none;
	margin: auto;
	margin-bottom: .5rem;
}
@media screen and (min-width: 992px) {
.card .media{
	display: block;
}
}
.card .media > div{
	overflow: hidden;
 	/*border-radius: 85px;*/
}

.card .media > div img {
		height: 192px;
		width: 192px;
}
@media screen and (min-width: 992px) {
	.card .media .shadow{
		height: 192px;
		width: 192px;
		top:2rem;
		left: auto;
		right: auto;
		position: fixed;
	  border-radius: 85px;
	  
		 box-shadow: 0px 0px 20px 15px #000 inset, 0px 0px 10px 15px #000;
		 outline: 10px solid rgba(0,0,0,100%);
	}
}
.card a{
 display: flex;
 flex-direction: column;
  /*border: 1px dotted white;*/
  justify-content: center;
  text-align: center;
  border-radius: 40%;
  padding: .1rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
}

@media screen and (min-width: 992px) {
.card a{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
  }

.card:hover {
    animation: shake 525ms infinite;
}


@keyframes shake {
  0% {
        -webkit-filter: hue-rotate(0deg);
    transform: translateX(0);
  }
  50% {
    transform: translateX(0);
    transform: translateY(2px);
  }
  65% {
    transform: translateX(3px);
    transform: translateY(-1px);
  }
  70% {
    transform: translateX(-2px);
  }
  85% {
    transform: translateX(2px);
    transform: translateY(1px);
  }
  100% {
    transform: translateX(0);
    transform: translateY(-1px);
        -webkit-filter: hue-rotate(-360deg);
  }
}