.card:hover .glitch, .glitch:hover {
  /*font-size: 5rem;*/
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  /*text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,0.025em 0.04em 0 #fffc00;*/
  animation: glitch 725ms infinite;
}


@keyframes glitch{
  0% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  15% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  16% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  50% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  99% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  100% {
    text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
      -0.04em -0.025em 0 #fffc00;
  }
}


.glitch {
  border: 2px dotted white;
  position: relative;
  color: #fff;
  font-size: 1.75rem;
  height: fit-content;
  line-height: 1.75rem;
  padding-bottom: .25rem;
  margin: auto;
  margin-top: 1rems;
}
.glitch * {
  
  display: block;
}
.line{
  padding: .1rem;
}

@media screen and (min-width: 576px) {

.glitch {
  display: block;
  position: relative;
  color: #fff;
  font-size: 1.75rem;
  line-height: 2rem;
}
}

.line:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}
.line:nth-child(1) {
  -webkit-animation: clip 3000ms -300ms linear infinite, glitch1 500ms -155ms linear infinite;
          animation: clip 3000ms -300ms linear infinite, glitch1 500ms -155ms linear infinite;
}
@-webkit-keyframes glitch1 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #fff;
  }
  85% {
    transform: translateX(0px);
    color: #4E9A26;
  }
  90% {
    transform: translateX(-2px);
    color: #AC1212;
  }
  95% {
    transform: translateX(-4px);
    color: #fff;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes glitch1 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #fff;
  }
  85% {
    transform: translateX(0px);
    color: #4E9A26;
  }
  90% {
    transform: translateX(-2px);
    color: #AC1212;
  }
  95% {
    transform: translateX(-4px);
    color: #fff;
  }
  100% {
    transform: translateX(0);
  }
}
.line:nth-child(2) {
  -webkit-animation: clip 3000ms -600ms linear infinite, glitch2 500ms -360ms linear infinite;
          animation: clip 3000ms -600ms linear infinite, glitch2 500ms -360ms linear infinite;
}
@-webkit-keyframes glitch2 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #fff;
  }
  85% {
    transform: translateX(5px);
    color: #4E9A26;
  }
  90% {
    transform: translateX(-1px);
    color: #AC1212;
  }
  95% {
    transform: translateX(4px);
    color: #fff;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes glitch2 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #fff;
  }
  85% {
    transform: translateX(5px);
    color: #4E9A26;
  }
  90% {
    transform: translateX(-1px);
    color: #AC1212;
  }
  95% {
    transform: translateX(4px);
    color: #fff;
  }
  100% {
    transform: translateX(0);
  }
}
.line:nth-child(3) {
  -webkit-animation: clip 3000ms -900ms linear infinite, glitch3 500ms -926ms linear infinite;
          animation: clip 3000ms -900ms linear infinite, glitch3 500ms -926ms linear infinite;
}
@-webkit-keyframes glitch3 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #fff;
  }
  85% {
    transform: translateX(2px);
    color: #4E9A26;
  }
  90% {
    transform: translateX(5px);
    color: #AC1212;
  }
  95% {
    transform: translateX(-2px);
    color: #fff;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes glitch3 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #fff;
  }
  85% {
    transform: translateX(2px);
    color: #4E9A26;
  }
  90% {
    transform: translateX(5px);
    color: #AC1212;
  }
  95% {
    transform: translateX(-2px);
    color: #fff;
  }
  100% {
    transform: translateX(0);
  }
}
.line:nth-child(4) {
  -webkit-animation: clip 3000ms -1200ms linear infinite, glitch4 500ms -244ms linear infinite;
          animation: clip 3000ms -1200ms linear infinite, glitch4 500ms -244ms linear infinite;
}
@-webkit-keyframes glitch4 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #fff;
  }
  85% {
    transform: translateX(-3px);
    color: #4E9A26;
  }
  90% {
    transform: translateX(-1px);
    color: #AC1212;
  }
  95% {
    transform: translateX(0px);
    color: #fff;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes glitch4 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #fff;
  }
  85% {
    transform: translateX(-3px);
    color: #4E9A26;
  }
  90% {
    transform: translateX(-1px);
    color: #AC1212;
  }
  95% {
    transform: translateX(0px);
    color: #fff;
  }
  100% {
    transform: translateX(0);
  }
}
.line:nth-child(5) {
  -webkit-animation: clip 3000ms -1500ms linear infinite, glitch5 500ms -874ms linear infinite;
          animation: clip 3000ms -1500ms linear infinite, glitch5 500ms -874ms linear infinite;
}
@-webkit-keyframes glitch5 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #fff;
  }
  85% {
    transform: translateX(5px);
    color: #4E9A26;
  }
  90% {
    transform: translateX(-1px);
    color: #AC1212;
  }
  95% {
    transform: translateX(4px);
    color: #fff;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes glitch5 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #fff;
  }
  85% {
    transform: translateX(5px);
    color: #4E9A26;
  }
  90% {
    transform: translateX(-1px);
    color: #AC1212;
  }
  95% {
    transform: translateX(4px);
    color: #fff;
  }
  100% {
    transform: translateX(0);
  }
}
.line:nth-child(6) {
  -webkit-animation: clip 3000ms -1800ms linear infinite, glitch6 500ms -808ms linear infinite;
          animation: clip 3000ms -1800ms linear infinite, glitch6 500ms -808ms linear infinite;
}
@-webkit-keyframes glitch6 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #fff;
  }
  85% {
    transform: translateX(0px);
    color: #4E9A26;
  }
  90% {
    transform: translateX(4px);
    color: #AC1212;
  }
  95% {
    transform: translateX(-1px);
    color: #fff;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes glitch6 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #fff;
  }
  85% {
    transform: translateX(0px);
    color: #4E9A26;
  }
  90% {
    transform: translateX(4px);
    color: #AC1212;
  }
  95% {
    transform: translateX(-1px);
    color: #fff;
  }
  100% {
    transform: translateX(0);
  }
}
.line:nth-child(7) {
  -webkit-animation: clip 3000ms -2100ms linear infinite, glitch7 500ms -913ms linear infinite;
          animation: clip 3000ms -2100ms linear infinite, glitch7 500ms -913ms linear infinite;
}
@-webkit-keyframes glitch7 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #fff;
  }
  85% {
    transform: translateX(2px);
    color: #4E9A26;
  }
  90% {
    transform: translateX(-3px);
    color: #AC1212;
  }
  95% {
    transform: translateX(3px);
    color: #fff;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes glitch7 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #fff;
  }
  85% {
    transform: translateX(2px);
    color: #4E9A26;
  }
  90% {
    transform: translateX(-3px);
    color: #AC1212;
  }
  95% {
    transform: translateX(3px);
    color: #fff;
  }
  100% {
    transform: translateX(0);
  }
}
.line:nth-child(8) {
  -webkit-animation: clip 3000ms -2400ms linear infinite, glitch8 500ms -595ms linear infinite;
          animation: clip 3000ms -2400ms linear infinite, glitch8 500ms -595ms linear infinite;
}
@-webkit-keyframes glitch8 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #fff;
  }
  85% {
    transform: translateX(3px);
    color: #4E9A26;
  }
  90% {
    transform: translateX(2px);
    color: #AC1212;
  }
  95% {
    transform: translateX(0px);
    color: #fff;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes glitch8 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #fff;
  }
  85% {
    transform: translateX(3px);
    color: #4E9A26;
  }
  90% {
    transform: translateX(2px);
    color: #AC1212;
  }
  95% {
    transform: translateX(0px);
    color: #fff;
  }
  100% {
    transform: translateX(0);
  }
}
.line:nth-child(9) {
  -webkit-animation: clip 3000ms -2700ms linear infinite, glitch9 500ms -572ms linear infinite;
          animation: clip 3000ms -2700ms linear infinite, glitch9 500ms -572ms linear infinite;
}
@-webkit-keyframes glitch9 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #fff;
  }
  85% {
    transform: translateX(-3px);
    color: #4E9A26;
  }
  90% {
    transform: translateX(5px);
    color: #AC1212;
  }
  95% {
    transform: translateX(-3px);
    color: #fff;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes glitch9 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #fff;
  }
  85% {
    transform: translateX(-3px);
    color: #4E9A26;
  }
  90% {
    transform: translateX(5px);
    color: #AC1212;
  }
  95% {
    transform: translateX(-3px);
    color: #fff;
  }
  100% {
    transform: translateX(0);
  }
}
.line:nth-child(10) {
  -webkit-animation: clip 3000ms -3000ms linear infinite, glitch10 500ms -194ms linear infinite;
          animation: clip 3000ms -3000ms linear infinite, glitch10 500ms -194ms linear infinite;
}
@-webkit-keyframes glitch10 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #fff;
  }
  85% {
    transform: translateX(0px);
    color: #4E9A26;
  }
  90% {
    transform: translateX(3px);
    color: #AC1212;
  }
  95% {
    transform: translateX(4px);
    color: #fff;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes glitch10 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #fff;
  }
  85% {
    transform: translateX(0px);
    color: #4E9A26;
  }
  90% {
    transform: translateX(3px);
    color: #AC1212;
  }
  95% {
    transform: translateX(4px);
    color: #fff;
  }
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes clip {
  0% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 120%, 0 120%);
            clip-path: polygon(0 100%, 100% 100%, 100% 120%, 0 120%);
  }
  100% {
    -webkit-clip-path: polygon(0 -20%, 100% -20%, 100% 0%, 0 0);
            clip-path: polygon(0 -20%, 100% -20%, 100% 0%, 0 0);
  }
}

@keyframes clip {
  0% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 120%, 0 120%);
            clip-path: polygon(0 100%, 100% 100%, 100% 120%, 0 120%);
  }
  100% {
    -webkit-clip-path: polygon(0 -20%, 100% -20%, 100% 0%, 0 0);
            clip-path: polygon(0 -20%, 100% -20%, 100% 0%, 0 0);
  }
}